<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.juhaolian.appservice.dao.KeyValidationDao">

    <select id="validate" resultType="java.lang.Integer" parameterType="Map">
        select
            count(*)
        from wgplatform
        where platformcode = #{appkey}
        and platformsecret = #{appsecret}
    </select>

</mapper>
